{# Define Phase 1 Config #}
 crypto keyring {{keyring}}
  pre-shared-key address {{p81_ip}} key {{psk}}

crypto isakmp policy 10
 encr aes 256
 hash sha256
 authentication pre-share
 group {{ dhg }}
 lifetime 28800

{# Define Phase 1 Profile #}
crypto isakmp profile {{phase1}}
   keyring {{keyring}}
   match identity address {{ p81_ip }} 255.255.255.255
   local-address {{ prem_ip }}

{# Define Phase 2 Policy #}
crypto ipsec transform-set {{transform_set_name}} esp-{{encry}} esp-sha-hmac

{# Define Phase 2 Profile #}
crypto ipsec profile {{phase2}}
 set transform-set {{transform_set_name}}
 set security-association lifetime {{ph2_life}}
 set pfs group14
 set isakmp-profile {{phase1}}

{# Interface Config #}
interface {{tunnel_int}}
 ip address {{prem_bgp_ip}} 255.255.255.252
 ip mtu 1400
 ip nat inside
 ip tcp adjust-mss 1360
 tunnel source {{prem_ip}}
 tunnel mode ipsec ipv4
 tunnel destination {{p81_ip}}
 tunnel protection ipsec profile {{phase2}}

{# Routes #}
ip route {{ p81_net }} {{tunnel_int}}

{# BGP Config #}
router bgp {{prem_asn}}
 bgp router-id {{prem_bgp_ip}}
 neighbor P81-VPN peer-group
 neighbor P81-VPN remote-as {{p81_asn}}
 neighbor P81-VPN update-source Loopback81

 address-family ipv4
  neighbor P81-VPN next-hop-self
  neighbor P81-VPN soft-reconfiguration inbound
  neighbor {{p81_ip}} route-map {{route_map_in}} in
  neighbor {{p81_ip}} route-map {{route_map_out}} out
  neighbor {{p81_ip}} activate
 exit-address-family
