{# IKEv2 Route Based IPSEC VPN #}
crypto isakmp policy 10
 encryption aes 256
 authentication pre-share
 group 14


{# Ph1 Key #}
crypto isakmp key {{ psk }} address {{ p81_ip }}

{# Ph2 Key #}
crypto ikev2 keyring p81-keyring
  peer {{ p81_gw }}
  description Perimeter81
  address {{ p81_ip }}
  pre-shared-key local passw0rd1
  pre-shared-key remote passw0rd1


{# Phase 2 Proposal #}
crypto ipsec transform-set {{transform_set_name}} esp-{{ encry }} esp-{{ integ }}-hmac
 mode tunnel

{# Phase 1 Profile #}
crypto ikev2 profile {{ phase1 }}-profile
match identity remote address {{ p81_ip }} 255.255.255.255
authentication local pre-share
authentication remote pre-share
keyring local {{ keyring }}


{# Phase 1 Proposals #}
crypto ikev2 proposal {{ phase1 }}-proposal
 encryption {{ encry }}
 integrity {{ integ }}
 group {{ dhg }}

{# Phase 2 Profile #}
crypto ipsec profile {{ phase2 }}-profile
 set transform-set {{transform_set_name}}
 set ikev2-profile {{phase1}}-profile


{# Interface Config #}
interface tunnel 1
 ip address 172.17.200.10 255.255.255.0 <--- replace with address from range
 ip mtu 1400
 ip nat inside
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1 <--- replace with source interface
 tunnel mode ipsec ipv4
 tunnel destination {{p81_ip}}
 tunnel protection ipsec profile {{phase2}}-profile

{# Routes #}
ip route {{ p81_net }} tunnel 1

{% if bgp is defined %}
 {% include "cisco/cisco_bgp.j2" %}
{% endif %}
