{# BGP Config #}
router bgp {{ prem_asn }}
 bgp router-id {{ prem_bgp_ip }}
 neighbor P81-VPN peer-group
 neighbor P81-VPN remote-as {{ p81_asn }}
 neighbor P81-VPN update-source Tunnel1

 address-family ipv4
  neighbor P81-VPN next-hop-self
  neighbor P81-VPN soft-reconfiguration inbound
  neighbor {{p81_ip}} activate
 exit-address-family
